/* * {
} */
/*header*/
a {
  text-decoration: none;
}
header a {
  color: black;
}
.bar1 {
  display: flex;
  justify-content: space-between;
  height: 36px;
}
.bar1_logo {
  display: flex;
  /* justify-content: left; */
  align-items: center;
}
.bar1 {
  padding: 0px 38px 0px 36px;
  max-width: 1920px;
  margin: 0 auto;
  background: #f5f5f5;
}
.bar1_logo > div > img {
  width: 24px;
  height: 24px;
  padding: 0px 12px;
  margin-left: 0px;
}
.bar1_menu {
  display: flex;
  flex-direction: row;
  /* justify-content: right; */
}

.line {
  border-right: 3px solid black;
  padding: 0 4px;
  margin-right: 4px;
  font-size: 12px;
  line-height: 14px;
}
/* 
.CS_menu {
  display: none;
} */
.bar1_menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar1_menu > li > a {
  padding: 0 2px 0px 2px;
  margin: 0 8px;
}

ul li {
  list-style: none;
}
.cs {
  position: relative;
}
.CS_menu {
  display: none;
  background-color: red;
  max-width: 160px;
  z-index: 1;
  position: absolute;
  top: 36px;
  padding: 24px;
  padding-left: 16px;
}
/* .bar1 > li {
  display: block;
} */

.cs:hover + .CS_menu {
  display: block;
  /* background: #fff; */
  background-color: aqua;
}
.CS_menu {
  padding: 24px 24px 24px 16px;
}

.CS_menu > a {
  display: block;
  font-size: 16px;
  padding: 4px 8px;
  margin-bottom: 12px;
  color: #111;

  /*a => inline태그, inline태그는 margin-bottom,
  margin-top 적용되지 않음 
  따라서 display=> block
  */
}

.CS_menu > li {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 8px;
  color: #757575;
}
.bar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.bar2 {
  padding: 0px 38px 0px 36px;
  max-width: 1920px;
  margin: 0 auto;
  height: 60px;
  padding-top: 4px;
}
.bar2_logo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.bar2_logo > div {
  width: 59px;
  height: 59px;
  margin: 1px 0;
}
.bar2_logo > div > img {
  box-sizing: inherit;
  height: 100%;
  width: 100%;
}
nav {
  margin: 0 auto;
  align-items: center;
  /* width: calc(100%-680px); */
}

.title {
  display: flex;
  padding: 2px;
}

.title > li {
  padding-bottom: 18px;
  padding: 12px;
  color: #111;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.new_menu {
  display: none;
}

.bar2_menu {
  position: relative;
}

.search_container {
  width: 180px;
  height: 40px;
}
input {
  width: 100%;
  box-sizing: border-box;
  background: #f5f5f5;
  color: inherit;
  padding: 8px 48px;
  cursor: text;
  border-radius: 100px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.serch_img {
  position: absolute;
  top: 1px;
  left: 2px;
  padding: 6px 8px;
  width: 15px;
}
.heart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.heart_container > a > img {
  width: 24px;
  height: 24px;
}

.heart_icon {
  margin-right: 12px;
}

/*main*/
/* 회색은 시간 남으면 보기 */
main > div {
  max-width: 1824px;
  margin: 0 auto;
}
main img {
  width: 100%;
  height: auto;
}
.text_contain {
  margin-top: 48px;
  text-align: center;
  color: #111;
}

.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #111;
  color: #fff;
  width: 125px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.img_header {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
}
.img_title {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 8px;
}
.explanation {
  margin-top: 24px;
  line-height: 24px;
}
.main_with {
  display: flex;
}
div.img_contain {
  max-width: 1824px; /*설명*/
  width: auto;
  margin: 84px auto 0 auto;
  display: flex;
  margin: 0 -6px;
}
.img_contain > a {
  width: 50%;
  position: relative;
  padding: 0 6px;
}

.img_contain div {
  position: absolute;
  top: calc(70%-48px);
}
.img_contain img {
  /* min-height: 300px; */
  height: 100%;
}
/*footer*/
footer {
  width: 100%;
  background-color: black;
}
.footer_main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: center;
}

footer a {
  color: white;
}
footer > .footer_bottom {
  color: white;
}
.footer_main li {
  margin-bottom: 3px;
}
.footer_main > div {
  width: 75%;
  padding: 0 6px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 16px;
  font-size: 14px;
  display: flex;
}
.footer_main ul {
  width: 25%;
  display: inline-block;
}
.footer_main > div > ul > li {
  margin-bottom: 3px;
}
.new_issue {
  margin-left: 0;
}

.container li {
  font-size: 12px;
  line-height: 2.333333333333333;
}

.container li.title {
  font-size: 14px;
  line-height: 1.714286;
}
.new_issue li {
  font-size: 14px;
  line-height: 1.714286;
}
.sns_container > li {
  display: inline-block;
}
.sns_container {
  text-align: right;
}
/*글씨크기 조정*/
.sns_container > li > a > img {
  width: 50px;
  height: 50px;
}
.footer_bottom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  main > div {
    margin-left: 48px;
    margin-right: 48px;
  }
}
